[2017-07-25 17:59] hawkerm opened #1 "Figure out best way to support Duality with Diff Editor"
Currently, focused on Text Editor, need to think about support for Diff Editor and how to separate the two interfaces.

[2017-07-29 07:48] hawkerm opened #2 "Add Folding Property"
Should just be a flag on the initial options.

Can update with https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#updateoptions

[2017-07-29 07:57] hawkerm opened #3 "Add a way to get the currently Selected Text"
https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#getselection

Was thinking of having a bound SelectedText property, it would show the text within the primary selection and could be updated to replace that text in the editor.

[2017-07-29 07:57] hawkerm opened #4 "Add Action Support"
https://microsoft.github.io/monaco-editor/playground.html#interacting-with-the-editor-adding-an-action-to-an-editor-instance

Would be nice to auto-plumb the callback event so you just use it like any other lambda/event hook-up.

[2017-07-31 18:37] hawkerm opened #5 "Think DeltaDecoration result can be empty string sometimes instead of empty array"
Thinking its this line: https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/CodeEditor.Methods.cs#L43

Message = "Invalid JSON string.\r\n\r\n'input': Value must not be empty."
"   at Windows.Data.Json.JsonArray.Parse(String input)\r\n
at Monaco.CodeEditor.<>c.<DeltaDecorationsAsync>b__13_1(Task'1 result)\r\n
at System.Threading.Tasks.ContinuationResultTaskFromResultTask

[2017-08-20 05:42] hawkerm opened #6 "Add a way to set the Selected Text"
Look at https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.iidentifiedsingleeditoperation.html for https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#executeedits

[2017-08-21 00:10] hawkerm opened #7 "Using Focus(...) function on Editor should place focus back in Monaco Editor"
If I do `Editor.Focus(FocusState.Programmatic)`, focus isn't returned to the Monaco editor.  It should be.

[2017-08-21 02:24] #2 closed

[2017-08-21 02:24] #3 closed

[2017-08-21 02:24] #4 closed

[2017-08-21 06:45] hawkerm commented on #6
https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.imodel.html#pusheditoperations
https://microsoft.github.io/monaco-editor/api/classes/monaco.selection.html
https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.icursorstatecomputer.html

[2017-08-21 07:18] hawkerm opened #8 "Update Monaco reference to v0.10.0"
https://github.com/Microsoft/monaco-editor/releases

[2017-08-21 07:26] hawkerm opened #9 "Make Theme Awareness look at FrameworkElement.RequestedTheme property"
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.frameworkelement#Windows_UI_Xaml_FrameworkElement_RequestedTheme

Currently it ignores whatever the parent tree is requesting and directly queries the application level.  This makes it difficult if an app sets its own property as a setting (ignoring the system).

[2017-08-21 23:33] hawkerm opened #10 "Regression: CodeLanguage property no longer read in xaml"
Looks like it is ignored on load, but can be modified after.

[2017-11-07 02:30] hawkerm commented on #10
Ah, didn't catch in sample app as defaults to 'csharp' which is what I had the property set to in the XAML page.  Think I can repro this and probably similar to Decorations issue I saw too like this on not showing on load.

[2017-11-07 02:47] hawkerm opened #11 "Issues with Touch Scrolling"
Trackpad scrolling seems to work, but was having issues with touch scrolling.  Probably need an extra css property for the webview and such.  Will need to investigate a bit more on a touch device.

[2017-11-07 02:48] hawkerm opened #12 "Decorations won't display if set before initial load"
Setting decorations during initialization will cause them not to display (the call is missed).  Need our initialization code to make a call to Monaco (or vice versa) to set these initial ones up.

[2017-11-13 08:40] hawkerm opened #13 "Cleanup Custom JSON Helpers"
Should look at if can remove dependency on JSON.NET for DataContractSerializer and remove all initial custom JSON helpers.

[2017-11-13 09:43] hawkerm opened #14 "Add event for error checking"
While in Preview, provide an event to surface any errors while executing scripts in the webview to help with error reporting.

Ideally, should try and catch inner JavaScript errors better so that we know what's gone wrong.

[2017-11-14 04:25] #5 closed

[2017-11-14 04:25] #7 closed

[2017-11-14 04:25] #12 closed

[2017-11-14 04:25] #8 closed

[2017-11-14 04:25] #10 closed

[2017-11-14 04:25] #14 closed

[2017-11-14 04:26] hawkerm opened #15 "Add Language Provider API Support"

[2017-11-14 06:08] michael-hawker opened #16 "SetModelMarkers isn't sanitizing single quotes properly"
Need to do a general audit of sanitization with the JSON object conversions.

[2017-11-14 16:40] #16 closed

[2017-12-29 09:07] SuperJMN opened #17 "Feature"
I'm creating a little debugger for my own assembly language. I would like to highlight a given line in the editor (by id).

Is there any way to do it?
Thank you :)

[2018-01-09 04:09] hawkerm commented on #17
Yup, the little test app shows that here: https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorTestApp/MainPage.xaml.cs#L164

[code]

The `Range` object tells it which line to highlight, the 2nd and 4th column numbers will be ignored.

You can cache the CssLineStyle for efficiency too (otherwise it'll create a new style in the internal WebView each time you set a line).

[2018-02-27 12:32] #17 closed

[2018-04-08 08:54] WilliamABradley commented on #9
+1 For UWP Community Toolkit Sample app with Microsoft/UWPCommunityToolkit#1755

[2018-04-08 08:56] WilliamABradley opened #18 "Issues with Memory Leaks"
Memory leaks will occur if the Monaco Editor, as navigating away from a Page that initialized the Editor will keep most of the Memory.

[2018-04-10 09:00] beraybentesen opened #19 "Library not working"
Hi, if I try to build from projects it gives error (missing files). I tried to download from nuget to sample and it worked but without intellisense.

[2018-04-16 10:02] beraybentesen opened #20 "Suggestions not showing"
When pressing "." suggestions not showing (it shows when I start typing.

[2018-04-18 01:56] hawkerm commented on #19
@beraybentesen I haven't found a good way to reference the Monaco files required yet.  You need to download the released version of the Monaco package to include as part of the build.  I mentioned this in the readme:

[2018-04-18 01:58] hawkerm commented on #20
@beraybentesen I haven't exposed the intellisense configuration apis yet, but it's on my roadmap.  However, I think except for some basic JavaScript, you have to provide the specification to the Monaco engine.  Normally most of that is implemented through extensions to VS Code which pass it into Monaco, I believe.

What language are you looking at providing suggestions for?

[2018-04-18 16:56] hawkerm commented on #20
I should be looking at exposing some of the events to C# in the next couple of weeks, but until then, if you're not afraid of JavaScript, you could inject your custom scenario into the [Monaco initialization](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/MonacoEditor.html) for the control.

They have fairly good examples and docs on [their site](https://microsoft.g

[2018-04-18 16:56] hawkerm commented on #19
Thanks for checking it out.  I'll at least look at adding a script to pull it down automatically in the future!

[2018-04-24 05:50] hawkerm opened #21 "Find better way to curb framework duality in property updates"
In order to provide two-way binded properties, we are both listening to updates from Monaco in JavaScript and also providing values from C#.  However, each framework is also listening to changes for these properties respectively.  This causes problems with infinite or undesired loops as the changes feedback into one another as one system gets notified of an update from the other.

We need to find

[2018-05-01 01:29] dpaulino commented on #18
I'm seeing the same issues. I've tried dereferencing it but the gc isn't cleaning it up. So I redesigned my app layout to use the same editor (the editor is no longer a child of a page). This way, it's only loaded once for the lifetime of the app.

It seems that the editor wasn't really designed to be instantiated multiple times.

[2018-05-01 18:12] #6 closed

[2018-05-04 23:32] dpaulino commented on #18
Thanks for your reply @hawkerm. Looking forward to a new update.

I'm doing some prototyping of my own. I needed to display some json and have an ability to collapse the brackets. I'm happy to have stumbled into your work.

[2018-05-15 22:27] dpaulino commented on #11
@hawkerm You mentioned that trackpad scrolling seems to work. However, on my Surface Book, scrolling doesn't work at all with my trackpad. Scrolling a bluetooth-connected mouse does work though. Is there some property I have to enable to get trackpad scrolling to work? If you want me to create a separate issue for this, let me know.

[2018-05-20 02:09] hawkerm commented on #11
@dpaulino now that you mention it, I believe someone else mentioned issues on a Surface Book.  I'll have to find one and test it out.  My original issue with touch scrolling was due to the control being in a Pivot and the pivot touch overriding the touch behavior of the editor, so that seems out of scope, but I still want to take a more in-depth look.

[2018-05-20 02:12] hawkerm opened #22 "HoverMessage doesn't work in v0.6 update"
We took a Monaco update which has a breaking change to the HoverMessage structure, which we didn't realize at the time.  Will fix-forward in the next release so we can keep fresh with the Monaco versions as well still.

[2018-07-23 07:18] #22 closed

[2018-07-23 07:19] hawkerm commented on #20
@beraybentesen, I added the CustomItem provider in 0.7, so this scenario should be available now.

[2018-07-23 07:19] #20 closed

[2018-07-23 07:20] #15 closed

[2018-07-23 07:22] hawkerm opened #23 "Have better support for removing and adding control from Visual Tree"
To curb memory usage, we try and remove all handles in the Unloaded event, as we don't know if that's because we're removed from VisualTree temporarily or for good.

In the case we get re-added to the VisualTree, then we need to reload all the handles and things that were removed.  In v0.7, we made this work better for the editor itself so things wouldn't be unstable.  But for things which require

[2018-08-06 21:55] gatm50 opened #24 "Missing Method to SetPosition"
The method SetPosition is missing:

[code]
I have added the method on my fork but I would like to share it
Do you accept contributions?

[2018-08-07 22:20] hawkerm commented on #24
@gatm50 there are many functions I havent plumbed yet. :) I've been adding them as I need them in groups as I can.

I'll have to look at how to add contribution guidelines and such to ensure repo integrity.  It may get absorbed later, but open to figuring it out.  The more the merrier!

[2019-01-15 12:47] hawkerm commented on #24
Added in v0.8.0-alpha

[2019-01-15 12:47] #24 closed

[2019-02-25 22:55] hansmbakker opened #25 "Snippet functionality breaks when updating monaco release to 0.15.6?"
It seems that the `foreach` snippet (which was a suggestion in TestApp) does not work after updating Monaco to release 0.15.6 - see https://github.com/hansmbakker/monaco-editor-uwp/tree/update

It works when using release 0.13.1

[2019-03-02 09:08] hawkerm commented on #25
Thanks @hansmbakker, I haven't updated the Monaco version yet as they made this breaking change in 15.0:

The corresponding API surface in the wrapper code needs to be updated to match.  That starts [here](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/MonacoEditor.html#L89).

[2019-03-02 12:54] hansmbakker commented on #25
@hawkerm I created a pull request (https://github.com/hawkerm/monaco-editor-uwp/pull/26) and asked for feedback there. Shall we continue the conversation there?

[2019-03-20 16:39] hansmbakker commented on #25
I can imagine you have other things to do as well, but could you maybe give some indication when you would have time to look at my PR?
If you don’t have time that’s also an answer, but then at least i know what to expect :)

[2019-04-03 11:34] Swiftpaws opened #27 "Add IEditorOption copyWithSyntaxHighlighting"
Please add this editor setting

[Monaco.d.ts](https://github.com/Microsoft/vscode/blob/master/src/vs/monaco.d.ts#L2928)

in this [class](https://github.com/hawkerm/monaco-editor-uwp/blob/d897922d53f9c95bfe7ff979d08a8e43fb23416d/MonacoEditorComponent/Monaco/Editor/IEditorOptions.cs#L17)

[2019-04-05 06:48] hawkerm commented on #27
Thanks @Swiftpaws for the suggestion.  It may have been a new setting I've overlooked.  I need to find a solution to better generate some/all of the C# from the TypeScript definitions.  There's a general discussion about that in the #26 PR from @hansmbakker.  As you can imagine writing the wrapper by hand isn't ideal.

I'll make sure to do a pass before the next release to get this one in though (

[2019-10-27 14:16] Duke194 opened #29 "Provide Usage Example for custom languages"
Could you please provide some Usage example for integrating own languages?

I examined the code for some time now, and I could not get it to work on my own unfortunatley.

[2020-01-31 10:37] hez2010 commented on #1
I've added a few interfaces for diff editor in commit de5c6369a01904908806441dd4fc95076df598a9, but seems that it may need more work on both C# code and ts helpers. Maybe it can move forward and support DiffEditor after #30 merged.

[2020-02-11 04:11] sharpninja opened #31 "Add nuget package for known compatible Monaco editor files."
One of my biggest fears using this (and believe me, I want to), is not having a version of Monaco referenced that has been tested with the control.  I would recommend putting together a nuget package just for the Monaco bits (so it is distributed separately) and making it a version-specific dependency in your control's nuget package.  It also allows you to attribute Monaco correctly in Nuget by ha

[2020-02-12 07:00] hawkerm commented on #31
@sharpninja we tightly couple the Monaco version to the version released in NuGet as we're embedding Monaco into a WebView and instantiating it.  All you need to use the control is pull down the NuGet, you don't have to mess to configure anything Monaco related at all.  It should just feel like any other UWP control, it's just using web-tech under-the-hood.

Since Monaco is distributed via npm, we

[2020-03-28 06:17] #31 closed

[2020-03-28 07:18] hawkerm commented on #13
This is being done in #30 I believe.

[2020-03-28 11:38] hez2010 commented on #13
Currently `System.Text.Json` doesn't support UWP yet, removing JSON.NET may be postponed to a later release.

[2020-03-28 19:10] hawkerm commented on #13
@hez2010 yup, I've been waiting for them to fix the UWP `System.Text.Json` issue, but I mean to refer to just the cleaning up the old manual helpers. Thanks for doing so many clean-up steps as part of your PR! :)

[2020-03-28 20:10] #25 closed

[2020-03-28 20:10] #27 closed

[2020-03-28 20:27] hawkerm opened #33 "Update Monaco Uri class to use System.Uri or Windows.Foundation.Uri"
Not sure which of the two .NET Uri classes makes more sense to use, but I think they both support the pieces needed to do a nice `JsonConverter` to make it easier to use the API in .NET.

[2020-03-28 20:30] hawkerm opened #34 "Add TypedocConverter script in repo that can generate Monaco types more easily"
[TypedocConverter](https://github.com/hez2010/TypedocConverter) is a tool written by @hez2010 that reads a TypeScript definition file and generates C#. This is the new method to help us port APIs from Monaco to the wrapper.

It'd be great if we could add a new PowerShell script to the repo (like we have the `install-dependencies.ps1` already) that could take the monaco files pulled from the depend

[2020-03-28 20:36] hawkerm opened #35 "Add missing CSS style types for IModelDecorationOptions"
There are some other CSS Stlyes not currently strongly-typed (or supported as part of the CssStyleBroker) in [IModelDecorationOptions](https://github.com/hawkerm/monaco-editor-uwp/blob/master/MonacoEditorComponent/Monaco/Editor/IModelDecorationOptions.cs).

May also want to see if we can use a factory pattern to help construct styles more easily???

[2020-03-28 20:37] hawkerm opened #36 "Add ColorProvider"
Have this ready on a private branch to push up, just need to rebase on new master.

[2020-03-28 21:31] hawkerm commented on #13
I'm going to close this issue and re-open a new one for the `System.Text.Json`.

[2020-03-28 21:31] #13 closed

[2020-03-28 21:32] hawkerm opened #37 "Investigate moving to System.Text.Json"
Once `System.Text.Json` supports UWP (maybe with the move to .NET 5 & WinUI 3?) then we should switch out the reference to Json.NET.

_Originally posted by @hawkerm in https://github.com/hawkerm/monaco-editor-uwp/issues/13#issuecomment-605522286_

[2020-03-28 21:34] hawkerm opened #38 "Add CodeLens Provider"
https://microsoft.github.io/monaco-editor/api/modules/monaco.languages.html#registercodelensprovider

[2020-03-28 21:34] hawkerm opened #39 "Add CodeActionProvider"
https://microsoft.github.io/monaco-editor/api/modules/monaco.languages.html#registercodeactionprovider

[2020-03-28 21:35] hawkerm opened #40 "Add findMatches API Support"
https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.itextmodel.html#findmatches

[2020-03-29 00:35] hawkerm opened #41 "HoverProvider duplicates when Detach/Attach Editor"
I think this is related to the creation/descruction of the ModelHelper in the Loaded/Unloaded events, they also feel unnecessary, but removing them causes the HoverProvider to break entirely.

Should investigate cleaning this up and resolving this bug.

[2020-03-29 00:52] hawkerm opened #42 "Clean-up CssStyleBroker to automatically track requires styles"
This can also optimize calls to DeltaDecorations as we would know if we have to reset the styles or not instead of doing it each and every time!

[2020-03-29 01:36] hawkerm opened #43 "Add Monaco Editor Mouse Events"
In the [XmlSyntaxVisualizerUWP](https://github.com/michael-hawker/XmlSyntaxVisualizerUWP) example we couldn't detect the cursor moving from a mouse click:

[code]

If we can expose knowing when the user clicks in the editor, then we can just call get caret position method or something. Need to investigate this scenario more.

[2020-03-29 05:27] hawkerm commented on #35
Moved CssStyleBroker part to its own Issue #42.

Also, guessing I may not get to this for the next release, but should at least hide the ones that aren't hooked into the Broker as they won't do anything anyways...

[2020-03-29 05:57] hawkerm opened #44 "Make IModelDecorationOptions/CssStyles XAML Friendly"
I'd be cool if we could make these styles more XAML resource dictionary friendly (e.g. convert to DependencyObjects?).  This would make defining, copying, and re-using them a bit easier.

Though since the API would always be called from the code-behind, it'd be a bit awkward to use still?

Curious if this makes sense in the end...? Thoughts?

[2020-03-29 06:10] hawkerm opened #45 "Convert to UWP Class Library?"
Not sure how much we're really benefiting from being a Windows Runtime Component. Plus it means we can't use `Task` as a return type in our signatures which makes some of the Providers weird to use with having to wrap returns in the `AsyncInfo.Run` pattern.

It'd be worth thinking about making this jump in the future and cleaning this up a bit?

[2020-03-29 09:01] hawkerm commented on #33
We did use `System.Uri` already for the CssGlyphStyle here:

https://github.com/hawkerm/monaco-editor-uwp/blob/b390c5381b043f91fab9b0921729f37808b5b89c/MonacoEditorComponent/Monaco/Helpers/CssGlyphStyle.cs#L5

[2020-03-29 09:21] hawkerm commented on #45
This would also let us use abstract base classes in the library for the CssStyles...

[2020-03-30 01:05] hawkerm commented on #36
Done in 7858aae83a675f4bd9682fa94ee3fe0b7e95881e

[2020-03-30 05:10] hez2010 commented on #45
Being a pure UWP class library means that monaco-editor-uwp won't be able to use in UWP which is written in C++/WinRT.
My opinion is that monaco type bindings and classes which don't need to be exposed can be convert to a class library, and still keep the control itself and other parts a Windows Runtime Component.

[2020-03-30 08:34] hawkerm commented on #45
@hez2010 are you using it from C++ currently? I'm not sure what the audience for that usage is.

Also, even if it's a class library you can include it from another C# component utilized by C++ project, so there's a workaround to access it still, though a bit more indirectly.  There's just a lot of restrictions which come with being a pure Windows Runtime Component.

[2020-03-30 09:02] hawkerm commented on #34
@hez2010 I've been trying to work on a PowerShell script for the repo that can download `TypedocConverter` and run it in order to generate the typings for anyone who wants to work on the project.

I'm not sure if I fully understand the steps. Would you mind outlining them for me here first? I'm happy to figure out how to automate them from there.

I imagine we need to have `npm` and install [`type

[2020-03-30 09:05] hawkerm commented on #43
Hmm, the scenario for the visualizer may work through the `SelectedRange` property like we do in the sample here, even if we don't expose the click event itself...

The Editor's GotFocus and LostFocus events also work.

[2020-03-30 09:06] hez2010 commented on #34
Typedoc won't accept a .d.ts file as input, you need to rename monaco.d.ts to monaco.ts first.

Then,
[code]

[2020-03-30 09:21] hawkerm commented on #43
Think for the original scenario for the XmlSyntaxVisualizer, we're sufficient for now, so going to move this out of v0.9-beta.

However, going to leave this here, as we probably want to implement the actual Monaco [`onMouseDown`](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#onmousedown) event as it contains a lot of context about where in the ed

[2020-03-30 09:34] hawkerm commented on #34
Thanks @hez2010, I was able to get something generated on my box, awesome! 🙂

Apparently I needed to install the `typescript` npm package as well for `typedoc` to work, once I had that it worked fine with your command.

What arguments have you been using for `TypedocConverter`? I tried this:

[code]

However, I noticed the generated files had the namespace prefix `TypedocConverter.*`? It seems to

[2020-03-30 09:37] hawkerm commented on #41
After the optimizations to the CssStyleBroker I'm not noticing this behavior anymore... though it could be related to if we re-create the style object for every decoration. Will have to test some more...

[2020-03-30 09:58] hez2010 commented on #34
~I cannot repro it~ I can repro it with powershell, please use v1.5 release https://github.com/hez2010/TypedocConverter/releases/tag/v1.5 and try below command:
[code]

Yes, we missed the change of AccessibilitySupport.cs, this file should be updated.

[2020-03-30 10:13] hez2010 commented on #45
I'm not sure what will happen exactly if we convert it to a UWP class library, but seems that it worth a try.

[2020-03-31 07:56] hawkerm commented on #34
Thanks @hez2010, that was a huge help. I got the script to run and generate typings back into the project directory, it's pretty cool!

I just pushed 941cc8ea3afa745be2690e8d19f1694bb99beade to the prep branch which has a Node.js/PowerShell project which can generate the typing info.

It does appear to prefix the Newtonsoft.Json attributes and most files have a bunch of unused Monaco usings, but o

[2020-03-31 08:39] hawkerm commented on #34
@hez2010 ah, we're fine for the AccessibilitySupport. They have the enum, but [they don't use it](https://github.com/Microsoft/monaco-editor/blob/master/monaco.d.ts#L2801)... :(

[2020-03-31 09:08] hez2010 commented on #34
ahhh, an important thing is that currently TypedocConverter doesn't fully support type alias and union types in TypeScript, so that's why there's no generated class for `ITextModel`. Under this circumstance TypedocConverter will generate warnings in the console.

[2020-03-31 10:01] #34 closed, assigned to hawkerm

[2020-03-31 10:01] #36 closed, assigned to hawkerm

[2020-03-31 10:01] #40 closed, assigned to hawkerm

[2020-03-31 10:01] #42 closed, assigned to hawkerm

[2020-04-06 08:31] #38 closed, assigned to nobody

[2020-05-29 19:26] michael-hawker commented on #45
Just noticed this remark: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.addweballowedobject#remarks

Not sure if this will be the case still for WebView2?

[2020-05-29 19:28] michael-hawker commented on #45
🦙 Cross-ref https://github.com/microsoft/microsoft-ui-xaml/issues/2571

[2020-06-16 17:12] WelterDevelopment opened #49 "Cannot change certain Editor.Options when the TestApp is compiled with .NET Native toolchain"
Steps to reproduce:
1. Add a toggle button to the ItemsControl in MainPage.xaml in the TestApp:
[code]
2. Add the click event handler to MainPage.xaml.cs:
[code]
3. Run the TestApp without compiling with the .NET Native toolchain. Clicking the button a few times will toggle the line numbers on and off as expected.
4. Run the TestApp **with** compiling with the .NET Native toolchain. Now you see th

[2020-06-17 03:59] harvinders opened #50 "Is there a way to use the DiffEditor?"
I am looking for a diff editor and know that monaco does have one. Just wondering if it is exposed by this library?

[2020-06-19 11:43] WelterDevelopment commented on #49
There is some rd.xml madness going on and I could not find any clue in the documentation on how to solve this. `<Namespace Name="Monaco.Editor" Serialize="All" Dynamic="All"/>` does not seem to work with JsonConverters (like LineNumbersTypeConverter). A quick workaround for me was to reset the LineNumbers Property back to the old string type in IEditorOptions:
[code]

[2020-07-04 07:36] khalidalmannai opened #51 "What To do After successful build? How To use it in WinForms?"
Hello Everyone,

First thank you for this package..

Sorry for my naïve question, but after successful build how to use the component in a windows form.

I tried run button nothing happened and this is the output

========== Build: 1 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
========== Deploy: 0 succeeded, 0 failed, 0 skipped ==========

Windows 10

My Visual Studio is:
Microsoft Vis

[2020-07-06 09:04] hez2010 commented on #50
The diff editor was not implemented in monaco-editor-uwp yet, but it's in our backlog.

[2020-07-06 09:05] hez2010 commented on #51
It's a Universal Windows Component and it's designed for UWP, I'm afraid that you may be not able to use it in WinForms for now.
Maybe you can use it after WinUI 3.0 released out?

[2020-07-06 17:12] khalidalmannai commented on #51
Got It..

Thank you

[2020-07-08 04:08] hawkerm commented on #51
Thanks for the interest @khalidalmannai, @hez2010 is right this is currently just a UWP component. I'll eventually migrate it to WinUI3 which then can be used in Win32 C# Desktop applications. Since WebView2 should support more environments at that point (which means it could work in WPF/WinForms where WebView2 works as well), I may try and generalize it a bit more as well, but I haven't gotten th

[2020-07-08 07:15] hawkerm commented on #49
Thanks for digging in and finding the cause @WelterDevelopment. There may be some rd.xml stuff we can do in the component, I'll have to take a look.

[2020-07-25 21:15] SFM61319 opened #52 "Add sample app images to README"
Exactly what the title says. Please add some images of the app UI (possibly with some code in different languages like Python, JS, HTML, SQL, C++, etc.) to make the app look more understandable give the user a basic idea of how the app looks and functions.

[2020-08-16 09:08] pks888 opened #53 "Crash with TabView"
I have a custom control which contains two monaco-editor , when I add the tabviewitem(content is that custom control) to tabview
and click the tabviewitem ,app crashed.

[2020-08-23 05:51] hez2010 commented on #53
It caused by a stackoverflow between DependencyProperty and Property while there're multiple CodeEditor instances:
https://github.com/hawkerm/monaco-editor-uwp/blob/b390c5381b043f91fab9b0921729f37808b5b89c/MonacoEditorComponent/CodeEditor/CodeEditor.Properties.cs#L62
https://github.com/hawkerm/monaco-editor-uwp/blob/b390c5381b043f91fab9b0921729f37808b5b89c/MonacoEditorComponent/CodeEditor/CodeEdit

[2020-08-23 06:31] pks888 commented on #53
Could you compile it and publish to Nuget? I tried to compile it myself and publish to Nuget, but the control renders a white non-clickable area. So I had to directly reference the latest source code project in my project, and it works well, this way I had to install some extra software like Node, which was too complicated. Thanks~

[2020-08-23 07:07] hez2010 commented on #53
I'm uploading my build here directly:
[Monaco.Editor.0.899.0-beta.zip](https://github.com/hawkerm/monaco-editor-uwp/files/5113619/Monaco.Editor.0.899.0-beta.zip)

I compiled it with version 0.899.0-beta, you can put it under a local directory and add the path to your nuget config, then you can reference it directly.

[2020-09-15 08:19] jaigak opened #54 "Text changed event"
How can I add a text changed event so that I can do my stuff?

[2020-09-15 08:23] jaigak opened #55 "Provide a list of languages support as a dictionary with the supported file type"

[2020-12-14 00:13] dotMorten opened #56 "WinUI 3 support"
Do you have any plans on adding a WinUI 3 version of this awesome library? (and let me know if you'd need help)

[2020-12-14 20:13] dotMorten commented on #56
Just realized there's a PR here: https://github.com/hawkerm/monaco-editor-uwp/pull/32

[2020-12-16 08:06] hawkerm commented on #56
Hey @dotMorten, yeah it's on the radar. Alex has just been playing with it for testing in the Windows Community Toolkit sample app as he tests out various toolkit things for WinUI 3 in general.

I need to merge in all the Uno Fork and update the NuGet package. I plan to try and refactor the base Monaco interface bits to pure .NET Standard library and investigate having a better separation of the W

[2021-03-03 09:22] hez2010 commented on #56
Blocking issue: https://github.com/microsoft/microsoft-ui-xaml/issues/4377

[2021-03-12 06:14] hawkerm commented on #56
@azchohfi in your latest update to #32, I'm assuming you didn't try the workaround yet from https://github.com/microsoft/microsoft-ui-xaml/issues/4377#issuecomment-791182187 to enable `AddHostObjectToScript` directly and remove the custom code, eh? (Feels like a simple extension we could write and have to make it more source compatible?)

I can maybe try investigating this more next week too? 😊

[2021-03-12 22:08] azchohfi commented on #56
That is not out yet. I double checked. It will be out on 0.5.0, but its not out on the prerelease one.

[2021-07-26 03:44] hez2010 commented on #53
@hawkerm This should be fixed before 0.9 release.

[2021-07-26 22:21] calloncampbell opened #58 "Can't have two instances on a page with different languages"
When I try to use different instances on a page control, both are set to the same language. Say the first instance is SQL and the second is JSON, when I run the app they're both JSON.

[2021-07-28 05:56] hawkerm commented on #58
Hey @calloncampbell are you setting the `CodeLanguage` property or setting the `Options` with the `Language`? And in XAML or code-behind?

This could be related to #53 and #21

[2021-07-28 05:56] hawkerm commented on #53
Linking to #21 as the crux of the issue too.

[2021-07-28 07:22] hawkerm commented on #58
I was able to reproduce locally, at least with a packaged version. Going to see if I can test in debug and try and see what's going on. Will try setting with options over `CodeLanguage` and see if that makes a difference

[2021-07-29 07:33] hawkerm opened #59 "Support Multiple Models?"
Monaco itself can support multiple models (though I don't know if I've done that before). Since we encapsulate the model within each instance of a control, I'm not sure if this is an issue.

However, some APIs in Monaco (like a `WorkspaceTextEdit`) require a reference to the `model.uri` field. This is a special `URI` type within Monaco which has validation on its type here: https://github.com/micr

[2021-07-29 08:41] hawkerm commented on #33
Not sure if there's other places, but for the Monaco Model Uri, there's a different problem, filed here #59.

[2021-07-29 08:43] hawkerm opened #60 "Investigate Marshalling Issue in Release Mode"
Noticed line highlights not working in the Sample App in Release mode, was also getting a marshalling issue related to Color, so may have something to do with that. Not sure why this would behave differently with threading between Debug and Release though...

[2021-07-29 19:02] calloncampbell commented on #58
Hi @hawkerm I was setting the `CodeLanguage` in XAML.

I'll give the Options way a try and let you know.

[2021-08-15 08:48] hawkerm opened #62 "Marker Text is duplicating"
In Sample App (off of latest PR for #48), toggle the markers a couple of times:

![image](https://user-images.githubusercontent.com/8959496/129472733-cf39d4f1-60f8-48aa-b521-7fccaf0b37dd.png)

The message text is getting duplicated and not cleaned up properly...

[2021-08-15 08:52] hawkerm commented on #33
Yeah, the Monaco Uri is special for a couple of things, so not sure if this makes sense in some spots. Need to think about this more.

[2021-09-30 06:46] jaigak opened #64 "Use WebView2"
WebView 2 will be available to WinUI 2 soon so consider using that instead of EdgeHTML for better performance.

[2021-10-01 06:55] hawkerm commented on #64
That's tied to #56 anyway as part of supporting WinUI 3.

[2021-10-01 10:00] jaigak commented on #64
Right however WinUI 2.8 itself is getting WebView2 so no need of WinUI 3.

[2021-10-21 05:57] #39 closed, assigned to nobody

[2021-10-21 05:59] hawkerm commented on #41
Still seeing this, repro steps on beta branch:

1. hover over 'Hit' word
2. Click Detach
3. Click Attach
4. hover again see duplicate:

![image](https://user-images.githubusercontent.com/8959496/138220067-8ea4248b-c975-463c-ab0a-dc265e724289.png)

[2021-10-21 06:06] hawkerm commented on #41
Think this is an issue with the Loading event in the sample firing multiple times, testing out a fix to the sample.

The sample has another issue with the condition not being re-initialized in the remove/add scenario. (Edit: Nope, my condition is fine as it's re-setup in the loading event which fires in that scenario.)

[2021-10-21 06:17] #41 closed, assigned to nobody

[2021-10-21 06:18] hawkerm commented on #60
This should be resolved as part of #48 and #63.

[2021-10-21 06:18] #60 closed, assigned to nobody

[2021-10-21 06:21] hawkerm commented on #62
Ah, this was fixed by uncommenting the `Editor.Markers.Clear()` in #63. But I feel like the `SetModelMarkersAsync` call should have been doing the same thing, so there seems like there's a bug somewhere...

[2021-10-21 06:23] hawkerm commented on #62
Clearing the Markers should just call the same `SetModelMarkersAsync` call in the ObservableVector callback, so no idea why that wasn't working. Going to try and remove the extra call and see if it still works...

[2021-10-21 06:24] #62 closed, assigned to nobody

[2021-10-25 04:44] hawkerm commented on #58
Have it reproducing in the test app in the debugger. Definitely seems like the two editors are sharing an `Options` instance. Why that is, I'm not sure yet.

[2021-10-25 07:30] hawkerm commented on #58
Staring right in the face:

https://github.com/hawkerm/monaco-editor-uwp/blob/b390c5381b043f91fab9b0921729f37808b5b89c/MonacoEditorComponent/CodeEditor/CodeEditor.Properties.cs#L98

This creates a single object of the Options which is used for the default value for every control. Need to switch to `PropertyMetadata.Create` factory method to create a default value callback to create a new instance

[2021-10-25 08:09] #58 closed, assigned to nobody

[2021-10-26 07:13] hawkerm commented on #49
I've added toggling this option in the sample app. I can see what you see in Release mode that it's updating on the C# side, but then just being turned off in the Monaco editor (and never turning back on); even though it's fine in Debug.

It's fine up until the point of serialization. I'm going to try debugging on the script side now to see what might be going on there on the receiving end to conf

[2021-10-26 07:16] hawkerm commented on #49
Ok, from the script side it's still getting called to update, but in Debug it's getting passed the string value like "on", "off", "relative", etc... In Release mode it's being passed an int like 0, 1, 2 instead... 🤔

[2021-10-26 07:44] hawkerm commented on #49
For whatever reason it seems like Json.NET can't infer the `JsonTypeConverter` defined from the interface itself. If I declare the converter on the property, it works fine... No idea why. For now will just declare on property as well as that should resolve the issue.

[2021-10-26 07:45] #49 closed, assigned to nobody

[2021-10-26 07:48] hawkerm commented on #53
Wonder if this is fixed by the improvements in #58... Not sure about setting up a TabView in the sample test app to reproduce, though but will need to test this out a bit in my other project. May kick-off a build soon to NuGet and just see how it goes.

[2021-11-03 06:20] hez2010 commented on #64
Blocking issue: `CoreWebView2.AddHostObjectToScript()` results in AV in UWP.

[2021-11-04 02:10] hawkerm commented on #64
@hez2010 is there an issue filed on the WinUI repo for that?

I also hit https://github.com/MicrosoftEdge/WebView2Feedback/issues/75 in general as well which could be challenging to work around, as I'd like new approach to be more direct with some of the Monaco provider objects.

[2021-11-04 05:36] hez2010 commented on #64
No, but I reused the issue https://github.com/microsoft/microsoft-ui-xaml/issues/4377.

[2021-11-10 11:37] manfromarce commented on #53
It seems that this is not fixed yet (at least in version 0.9.0-beta from Nuget).

[2021-11-11 08:22] hawkerm commented on #53
Thanks @manfromarce for letting us know. I twiddled with how this works a bit, so that's disappointing to hear. I don't have a repo on my machine yet since it's a more complex setup than the demo app does at the moment. Did you have a similar setup to @632575987?

Can you provide some details on what your TabView XAML and DataTemplate look like where you're using Monaco? More details would help he

[2021-11-12 02:42] manfromarce commented on #53
Hi @hawkerm, I managed to avoid crashes but I noticed 2 curious issues:
1) `frame.Navigate(typeof(Page1));`  triggers the TabItemsChanged event (if Page1 contains Monaco), even if the tab has not yet been added to the TabView
2) this is probably related to multiple windows rather than TabView: I'm using code similar to the windowing sample in the XAML Controls Gallery app to create a new window wh

[2021-12-10 22:25] MarcellVokk opened #66 "Poor performance when handling/editing large text files (300,000+ lines)"
Hi everyone,

I've noticed huge lag spikes and freezes when handling/editing large text documents (300,000+ lines).

I don't know if im doing something wrong... It's not that annoying since the user wont handle that large of a document very often anyway.

Can someone help me out???

*Poor performance compared to VS Code... idk if vscode is diferent, but i've heard that it uses Monaco too

[2021-12-13 18:06] hawkerm commented on #66
@Vadkarika2 can you provide some more details here? Is the performance in loading the document or like scrolling around and editing afterwards? What type of file is it? Can you share the file?

Can you copy the same document into the online Monaco playground here and see the same issues? https://microsoft.github.io/monaco-editor/playground.html (in both Chrome and Microsoft Edge?)

If it repros in

[2022-01-26 09:18] MixKage opened #67 "monacoEditor doesn't change theme without closing/opening the page"
Let's use the latest 0.9 version of MonacoEditor in our UWP project. The project works through tabs, which is probably why changing the theme does not work. When we change the application's system theme (dark to light and vice versa) MonacoEditor refuses to do so. But if we restart the tab and completely re-initialize MonacoEditor, everything works. The font size works fine, this problem is only o

[2022-01-26 19:08] MixKage commented on #67
I found what is not working! This function is run once, but should be run every time the theme changes.
RequestedTheme_PropertyChanged in CodeEditor.Events.cs

[2022-02-18 00:34] DmitryBorodiy opened #69 "How to create my own code suggestions?"
Hello everyone!
I have some UWP app with your very cool component😀
and I need to add my own code suggestions for XAML editor.
How can I do that?

Thank you!
Best wishes! 😀

[2022-02-20 02:27] hawkerm commented on #69
You talking about like intellisense or snippets? Like this Monaco sample here: https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-completion-provider-example

We generate the C# API from the JavaScript API, so it matches as closely as possible.

You can see how this was translated to something similar in the sample app here:

https://github.com/hawkerm/monaco-edi

[2022-03-20 01:25] hawkerm commented on #67
@MixKage this seems to be working fine for me within our test app. I think I'm going to try creating a new sample that uses tabs, as that appears to be where folks are running into more troubles.

[2022-04-29 18:28] TyJOrtiz opened #70 "Add undo/redo commands"
I was wondering if you could implement undo/redo commands

`CodeEditor.Undo();`

method:

`var result = await this.InvokeScriptAsync(@"function runUndo() { editor.getModel().undo(); }; runUndo();");`

`CodeEditor.Redo();`

method:

`var result = await this.InvokeScriptAsync(@"function runRedo() { editor.getModel().redo(); }; runRedo();");`

[2022-07-19 23:58] DmitryBorodiy opened #71 "Find code feature"
Hello!
I'm looking for an opportunity how can I implement the ability to search for text and code in the editor?

Thank you!

[2022-07-23 06:06] hawkerm commented on #71
@DmitryBorodiy the Monaco editor already has the ability for the user to search using `Ctrl+F`.

Otherwise, if you're asking about how you can introspect what has been written in the editor, please look at the sample app and the code in this repo. It's the same API as Monaco itself which provides the `FindMatches` API off the model to look at text in the editor.

[2022-07-23 06:06] #71 closed, assigned to nobody

[2022-07-23 06:06] #69 closed, assigned to nobody

[2022-07-23 13:55] DmitryBorodiy commented on #71
How I can use FindMatches method?

[2022-07-23 13:56] DmitryBorodiy commented on #71
I cant find this method in Model...

[2022-07-26 18:58] hawkerm commented on #71
@DmitryBorodiy there's an example in the demonstration app right here:

https://github.com/hawkerm/monaco-editor-uwp/blob/ba3c0de6ad95527b0cb6a9dac9c6c2098382dfc9/MonacoEditorTestApp/MainPage.xaml.cs#L535

[2022-07-26 19:00] DmitryBorodiy commented on #71
Thank you I try it!🙂

[2022-09-11 04:52] DmitryBorodiy opened #72 "Exception when using RenderTargetBitmap(UWP/C#)"
An exception occurs when I try to take a snapshot of the MonacoEditor UI element.

[code]

Value does not fall within the expected range.System.Private.CoreLib
Exception thrown: 'System.ArgumentException' in System.Private.CoreLib.dll

[2022-09-11 22:56] DmitryBorodiy commented on #72
This stopped working after upgrading to beta 0.9.0. I rolled back to 0.8.1.

[2022-09-12 00:10] DmitryBorodiy opened #73 "Drag and drop support needed(UWP)"
Hello!
How I can implement drag & drop support in CodeEditor control?

Thank you!
Best wishes!

[2022-10-08 23:35] hawkerm commented on #72
@DmitryBorodiy can you provide more info in the stack trace? Can you turn on native debugging and get more of the native stack from the platform? `ArgumentException` isn't that helpful here. The control is just a WebView, so I don't really know what would be going on here or what would have changed between versions except maybe offloading the WebView thread.

[2022-10-08 23:36] hawkerm commented on #73
@DmitryBorodiy what are you trying to drag and drop? Like loading a file? You should just be able to intercept a drag event like any other control and then read the StorageFile and load it yourself at the app level.

It could be interesting as part of a sample, but not something I would think the control should necessarily handle on its own.